.footerSec {
    background-color: #111f36;
    position: absolute;
    left: 0;
    right: 0;
    p {
        text-align: left;
        font-size: 16px;
        color: white;
    }
    a {
        color: white;
    }
    .linkSec {
        border-top: 1px solid #FFFFFF;
    }
}