.formMain {
    display: block;
    width: 40%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 20px auto 100px auto;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
    .rmdp-container {
        display: block!important;
    }
    input {
        margin: 0;
        width: 100%;
        display: block;
    }
    small {
        font-size: 12px;
        color: red;
    }
    .btn-sec {
        margin-top: 20px;
        button {
            margin-right: 20px;
        }
    }
    .datePic {
        margin-bottom: 15px;
        label {
            font-weight: 500;
        }
    }
    label {
        font-weight: 500;
    }
}